$headerPic: '../img/m-h-night.jpg';
$font: 'Fresca', sans-serif;
$margin: 5px;
$fontColor: #FBF9FB;
$buttonCol: #E2AB05;
$gradCol: #983351;
$highlightCol: #F5532F;
$footerCol: #3C3F50;
$mainBgCol: #21232F;