$headerPic: '../img/m-h-day.jpg';
$font: 'Hind', sans-serif;
$margin: -10%;
$fontColor: #2D2F3A;
$buttonCol: #689900;
$gradCol: #2E5CD4;
$highlightCol: #15A0C7;
$footerCol: #21232F;
$mainBgCol: #FFFFFF;